.onlineIndicator {
  display: inline-block;
  background-color: $success;
  color: $text-color-dark;
  font-weight: bold;
  border-radius: $ui-border-radius;
  padding: .3em .5em;
  font-size: 8px;
  letter-spacing: .1em;
}