.onlineIndicator {
  display: inline;
  background-color: $success;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: $ui-border-radius;
  padding: 2px 6px;
  font-size: 10px;
  margin-left: 8px;
}