.onlineIndicator {
  background-color: $success;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: $ui-border-radius;
  height: 2em;
  line-height: 2em;
  padding: 0 .5em;
  font-size: 8px;
  margin-left: 8px;
}