:export {
  white: $white;
  black: $black;
  accent: $accent;
  error: $error;
  success: $success;

  darkGrey: $dark-grey;
  midGrey: $mid-grey;
  darkGrey2: $text-color-dark;
  lightGrey1: $light-grey;
  lightGrey2: $light-grey;
  lightBlue1: $light-grey;
  lightBlue2: $light-grey;

  fontLight: $text-color-light;
  fontDark: $text-color-dark;
}