:export {
  white: $white;
  black: $black;
  accent: $accent;
  error: $error;
  success: $success;

  darkGrey1: $dark-grey-1;
  darkGrey2: $dark-grey-2;
  midGrey1: $mid-grey-1;
  lightGrey1: $light-grey-1;
  lightGrey2: $light-grey-2;
  lightBlue1: $light-blue-1;
  lightBlue2: $light-blue-2;

  fontLight: $clr-font-light;
  fontDark: $clr-font-dark;
}