:export {
  white: $white;
  black: $black;
  accent: $accent;
  dark: $dark;
  mid: $mid;
  light: $light;
  error: $error;
  success: $success;

  darkGrey: $dark-grey;
  midGrey: $mid-grey;
  lightGrey: $light-grey;

  textDark: $text-color-dark;
  textMid: $text-color-mid;
  textLight: $text-color-light;
  textLink: $text-color-link;
}