// palette
$white: #FFFFFF;
$black: #000000;
$accent: #3F72AF;
$dark: #112D4E;
$mid: #d3e5ff;
$light: #F9F7F7;
$error: #EF3E36;
$success: #9CEC5B;

// greys
$dark-grey: lighten($black, 25%);
$mid-grey: lighten($black, 50%);
$light-grey: lighten($black, 95%);

// text colors
$text-color-dark: $dark-grey;
$text-color-mid: $mid-grey;
$text-color-light: $white;
$text-color-link: $accent;

// global colors
$app-background-color: $light;
$app-bar-color: $accent;
$app-bottom-nav-color: $dark;
$app-border-color: desaturate($mid, 50%);
$app-focus-color: $dark;
$card-background-color: $white;

// button colors
$primary-background-color: $accent;
$secondary-background-color: $mid;
$neutral-background-color: $light-grey;
$text-background-color: transparent;
$cancel-background-color: $error;

// input colors
$input-background-color: $white;
$input-placeholder-color: lighten($text-color-dark, 50%);
$input-border-color: desaturate($mid, 50%);
$input-error-color: $error;