@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $accent $light-grey-1;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $clr-font;
  background-color: $clr-background;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $clr-font-link;
  outline: none;
  &:hover {
    text-decoration: none;
    color: $clr-font-link;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

  @include focus;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

//button, input, .formItem {
//  & + & {
//    margin-left: 10px;
//  }
//}