:export {
  btnSmall: strip-unit($btn-sm);
  btnMedium: strip-unit($btn-md);
  btnLarge: strip-unit($btn-lg);

  avatarProfile: strip-unit($avatar-profile);
  avatarProfilePhoneTablet: strip-unit($avatar-profile-phone-tablet);
}