// ui
$ui-transition: .3s;
$ui-border-radius: 4px;

// shadows
$card-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 2px;
$avatar-shadow: rgba(99, 99, 99, 0.2) 0px 0px 20px 3px;
$bar-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 2px;

// sizes
$appbar-height: 40px;
$bottom-navigation-height: 40px;
$container-width: 920px;
$container-padding: 10px;
$components-gap: 10px;
$sidebar-width: 220px;
$card-padding: 20px;
$content-max-width: 720px;

$modal-content-width: 600px;
$modal-content-height: 90vh;
$modal-content-tablet-width: 90vw;
$modal-content-tablet-height: 100vh;

$image-crop-area-width: 600px;
$image-crop-area-height: $modal-content-width;
$image-crop-area-tablet-width: 90vw;
$image-crop-area-tablet-height: $modal-content-width;

$btn-sm: 12px;
$btn-md: 15px;
$btn-lg: 18px;
$btn-xl: 22px;

$input-small: 12px;
$input-medium: 15px;
$input-large: 18px;



$avatar-profile: 130px;
$avatar-profile-phone-tablet: 100px;


// breakpoints
$phone: 400px;
$phone-wide: 480px;
$phone-tablet: 560px;
$tablet-small: 640px;
$tablet: 768px;
$tablet-wide: 1024px;
$desktop: 1248px;
$desktop-wide: 1440px;

