// color definitions (don't use directly in components)
// todo move color variables to separate file

// palette
$white: #FFFFFF;
$black: #000000;
$accent: #3F72AF;
$accent-secondary: #BEE7FD; // todo pick that color and rename variable wisely
$dark: #112D4E;
$mid: #DBE2EF;
$light: #F9F7F7;
$error: #EF3E36;
$success: #9CEC5B;

// greys
$dark-grey: lighten($black, 25%);
$mid-grey: lighten($black, 50%);
$light-grey: lighten($black, 90%);
$light-grey-2: #E8E9E8; // todo refactor usages and delete this variable

// text colors
$text-color-dark: $dark-grey;
$text-color-mid: $mid-grey;
$text-color-light: $white;
$text-color-link: $accent;

// global colors
$app-background-color: $light;
$app-bar-color: $accent;
$app-bottom-nav-color: $dark;
$app-border-color: $mid;
$app-focus-color: $dark;
$card-background-color: $white;

// button colors
$primary-background-color: $accent;
$secondary-background-color: $accent-secondary;
$neutral-background-color: $light-grey;
$text-background-color: transparent;
$cancel-background-color: $error;

// input colors
$input-background-color: $white;
$input-placeholder-color: lighten($text-color-dark, 50%);
$input-border-color: $light-grey-2;
$input-error-color: $error;



// ui
$ui-transition: .2s;
$ui-border-radius: 4px;

// shadows
$card-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 2px;
$avatar-shadow: rgba(99, 99, 99, 0.2) 0px 0px 20px 3px;
$bar-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 2px;

// sizes
$appbar-height: 40px;
$bottom-navigation-height: 40px;
$container-width: 920px;
$container-padding: 10px;
$components-gap: 10px;
$sidebar-width: 220px;
$card-padding: 20px;
$content-max-width: 720px;

$modal-content-width: 600px;
$modal-content-height: 90vh;
$modal-content-tablet-width: 90vw;
$modal-content-tablet-height: 100vh;

$image-crop-area-width: 600px;
$image-crop-area-height: $modal-content-width;
$image-crop-area-tablet-width: 90vw;
$image-crop-area-tablet-height: $modal-content-width;

$btn-sm: 12px;
$btn-md: 15px;
$btn-lg: 18px;
$btn-xl: 22px;

$input-small: 12px;
$input-medium: 15px;
$input-large: 18px;



$avatar-profile: 130px;
$avatar-profile-phone-tablet: 100px;


// breakpoints
$phone: 400px;
$phone-wide: 480px;
$phone-tablet: 560px;
$tablet-small: 640px;
$tablet: 768px;
$tablet-wide: 1024px;
$desktop: 1248px;
$desktop-wide: 1440px;

