// color definitions (don't use directly in components)
$white: #FFFFFF;
$black: #000000;
$accent: #0882de;
$error: #F2280C;
$success: #4EE83E;

$dark-grey-1: #373C42;
$dark-grey-2: #54595D;
$mid-grey-1: #909BA4;
$light-grey-1: #F5F7F6;
$light-grey-2: #E8E9E8;
$light-blue-1: #7ECEFB;
$light-blue-2: #BEE7FD;

// colors
$clr-appbar: $accent;
$clr-bottom-navigation: $dark-grey-1;
$clr-background: $white;
$clr-border: $light-grey-2;
$clr-font: $dark-grey-1;
$clr-font-dark: $dark-grey-1;
$clr-font-light: $white;
$clr-font-link: $accent;
$clr-font-disabled: $light-grey-2;

$clr-primary: $accent;
$clr-primary-border: darken($clr-primary, 5%);
$clr-primary-hover: lighten($clr-primary, 5%);
$clr-primary-active: darken($clr-primary, 5%);

$clr-secondary: $light-blue-2;
$clr-secondary-border: darken($clr-secondary, 5%);
$clr-secondary-hover: adjust-hue(lighten($clr-secondary, 3%), 7deg);
$clr-secondary-active: adjust-hue(darken($clr-secondary, 3%), -7deg);

$clr-neutral: $light-grey-2;
$clr-neutral-border: darken($clr-neutral, 5%);
$clr-neutral-hover: adjust-hue(desaturate(lighten($clr-neutral, 2%), 2%), 3deg);
$clr-neutral-active: adjust-hue(saturate(darken($clr-neutral, 2%), 2%), -3deg);

$clr-text: transparent;
$clr-text-border: darken($clr-neutral, 5%);
$clr-text-hover: transparent;
$clr-text-active: transparent;

$clr-cancel: $error;
$clr-cancel-border: darken($clr-cancel, 5%);
$clr-cancel-hover: lighten($clr-cancel, 5%);
$clr-cancel-active: adjust-hue(saturate(darken($clr-cancel, 10%), 20%), -3deg);

$clr-disabled: $light-grey-1;

// focus outline
$clr-focus-outline: $dark-grey-2;

// inputs
$clr-input-font: $dark-grey-2;
$clr-input-font-placeholder: $dark-grey-2;
$clr-input-background: $white;
$clr-input-background-disabled: $light-grey-1;
$clr-input-border: $light-grey-2;
$clr-input-invalid: $error;

// ui
$ui-transition: .2s;
$ui-border-radius: 4px;

// shadows
$card-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 2px;
$avatar-shadow: rgba(99, 99, 99, 0.2) 0px 0px 20px 3px;
$bar-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 2px;

// sizes
$appbar-height: 40px;
$bottom-navigation-height: 40px;
$container-width: 920px;
$container-padding: 10px;
$components-gap: 10px;
$sidebar-width: 220px;
$card-padding: 20px;
$content-max-width: 720px;

$modal-content-width: 600px;
$modal-content-height: 90vh;
$modal-content-tablet-width: 90vw;
$modal-content-tablet-height: 100vh;

$image-crop-area-width: 600px;
$image-crop-area-height: $modal-content-width;
$image-crop-area-tablet-width: 90vw;
$image-crop-area-tablet-height: $modal-content-width;

$btn-sm: 12px;
$btn-md: 15px;
$btn-lg: 18px;
$btn-xl: 22px;

$input-small: 12px;
$input-medium: 15px;
$input-large: 18px;



$avatar-profile: 130px;
$avatar-profile-phone-tablet: 100px;


// breakpoints
$phone: 400px;
$phone-wide: 480px;
$phone-tablet: 560px;
$tablet-small: 640px;
$tablet: 768px;
$tablet-wide: 1024px;
$desktop: 1248px;
$desktop-wide: 1440px;

