.wrapper {
    width: 100%;
}

.formError {
  font-size: 16px;
  color: $error;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &:last-child {
    margin: 0;
  }

  &.left {
    justify-content: start;
  }

  &.right {
    justify-content: end;
  }

  &.center {
    justify-content: center;
  }

  &.fill {
    justify-content: space-between;
    .item {
      flex: 1;
    }
  }

  .item {
    margin-right: 10px;
    &:last-child {
      margin: 0;
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  flex: 0;
  &.left {
    flex-direction: row;
    align-items: center;
  }
  &.right {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.label {
  display: flex;
  justify-content: left;
  flex-grow: 1;
  padding: 0 4px;
  @include ui-form-item-label-font;
  white-space: nowrap;
  &.disabled {
    .labelText {
      opacity: .3;
    }
  }
  .labelRequired {
    margin-right: 2px;
    color: $error;
  }
  .labelText {
    color: $dark-grey-2;
  }
  .formItemError {
    margin-left: auto;
    color: $error;
  }
}



.input {
  position: relative;
  height: 44px;
  padding: 14px 18px;
  font-size: 16px;
  line-height: 16px;
  background: $white;
  border: 1px solid $light-grey-2;
  border-radius: $ui-border-radius;
  width: 100%;
  -webkit-box-shadow: inset 0 0 0 50px $white;
  color: $dark-grey-2;
  transition: $ui-transition;
  @include focus;
  &.error {
    border-color: $clr-input-invalid;
  }
  &:disabled {
    background-color: $light-grey-1;
  }
  &::-webkit-input-placeholder {
    color: $light-grey-2;
  }
  &::-moz-placeholder {
    color: $light-grey-2;
  }
  &::-ms-placeholder {
    color: $light-grey-2;
  }
  &::placeholder {
    color: $light-grey-2;
  }
}









