@import "../../variables";

.input {
  border-bottom: 1px solid $light-grey-2;

  textarea {
    width: 100%;
    font-size: 18px;
    color: $mid-grey;
    padding: 25px 30px;
    display: block;
    border: none;
    resize: none;
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: rgba($mid-grey, .5);
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  height: 37px;
}

.button {
  font-size: 16px;
  padding: 8px 18px;
  background: none;
  color: $mid-grey;
  border: none;
  border-left: 1px solid $light-grey-2;
  outline: none;
  cursor: pointer;
  height: 100%;
}