$white: #FFFFFF;
$black: #000000;
$dark-grey: #373C42;
$dark-grey-2: #54595D;
$mid-grey: #909BA4;
$green-success: #4EE83E;
$accent: #2086C4;
$light-blue: #7ECEFB;
$light-blue-2: #BEE7FD;
$light-grey-2: #E8E9E8;
$accent: #2086C4;
$error: #F2280C;
$success: #4EE83E;

// shadows
$card-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$bar-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;