$white: #FFFFFF;
$black: #000000;
$dark-grey: #373C42;
$dark-grey-2: #54595D;
$mid-grey: #909BA4;
$accent: #2086C4;
$light-blue: #7ECEFB;
$light-blue-2: #BEE7FD;
$light-grey-2: #E8E9E8;
$light-grey-1: #F5F7F6;
$accent: #2086C4;
$error: #F2280C;
$green-success: #4EE83E;
$success: #4EE83E;

$background: $light-grey-1;

// colors
$clr-font-dark: #373C42;
$clr-font-light: #FFFFFF;

$clr-primary: #2086C4;
$clr-primary-border: darken($clr-primary, 5%);
$clr-primary-hover: adjust-hue(desaturate(lighten($clr-primary, 10%), 10%), 5deg);
$clr-primary-active: adjust-hue(saturate(darken($clr-primary, 5%), 10%), 5deg);

$clr-secondary: #BEE7FD;
$clr-secondary-border: darken($clr-secondary, 5%);
$clr-secondary-hover: adjust-hue(lighten($clr-secondary, 3%), 7deg);
$clr-secondary-active: adjust-hue(darken($clr-secondary, 3%), -7deg);

$clr-neutral: #E8E9E8;
$clr-neutral-border: darken($clr-neutral, 5%);
$clr-neutral-hover: adjust-hue(desaturate(lighten($clr-neutral, 2%), 2%), 3deg);
$clr-neutral-active: adjust-hue(saturate(darken($clr-neutral, 2%), 2%), -3deg);

$clr-text: #FFFFFF;
$clr-text-border: darken($clr-neutral, 5%);
$clr-text-hover: adjust-hue(desaturate(lighten($clr-neutral, 2%), 2%), 3deg);
$clr-text-active: adjust-hue(saturate(darken($clr-neutral, 2%), 2%), -3deg);

$clr-cancel: #F2280C;
$clr-cancel-border: darken($clr-cancel, 5%);
$clr-cancel-hover: lighten($clr-cancel, 5%);
$clr-cancel-active: adjust-hue(saturate(darken($clr-cancel, 10%), 20%), -3deg);



// ui
$ui-transition: .2s;
$ui-border-radius: 5px;

@mixin ui-form-item-label-font {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
@mixin ui-button-font {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
@mixin form-focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba($dark-grey, 0) inset;
  &:focus {
    box-shadow: 0 0 0 2px rgba($dark-grey, 1) inset;
  }
  &:focus-visible {
    box-shadow: 0 0 0 2px rgba($dark-grey, 1) inset;
  }
}
@mixin ui-button-colors($bg-color, $hover-bg-color, $active-bg-color, $color: black, $hover-color: $color,  $active-color: $color) {
  color: $color;
  background-color: $bg-color;
  &:hover {
    color: $hover-color;
    background-color: $hover-bg-color;
  }
  &:active {
    color: $active-color;
    background-color: $active-bg-color;
  }
}

// shadows
$card-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 2px;
$bar-shadow: rgba(0, 0, 0, 0.4) 0px 2px 6px;

// global sizes
$appbar-height: 60px;
$container-width: 980px;
$container-padding: 10px;
$components-gap: 20px;
$sidebar-width: 240px;
$card-padding: 20px;