$white: #FFFFFF;
$black: #000000;
$dark-grey: #373C42;
$dark-grey-2: #54595D;
$mid-grey: #909BA4;
$accent: #2086C4;
$light-blue: #7ECEFB;
$light-blue-2: #BEE7FD;
$light-grey-2: #E8E9E8;
$accent: #2086C4;
$error: #F2280C;
$green-success: #4EE83E;
$success: #4EE83E;

// shadows
$card-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$bar-shadow: rgba(0, 0, 0, 0.4) 0px 2px 6px;

// global sizes
$appbar-height: 60px;
$container-width: 980px;
$container-padding: 10px;
$components-gap: 12px;
$sidebar-width: 240px;
$card-padding: 20px;