# server
/.idea
/config
/node_modules
/uploads

# client (create-react-app)
# dependencies
/client/.idea
/client/node_modules
/client/.pnp
.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
