.checkbox {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  height: 22px;
  padding-left: 25px;
  cursor: pointer;

  .box {
    border: 1px solid $light-grey-2;
    border-radius: $ui-border-radius;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: $ui-transition;
  }

  input {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .box {
      background-image: url("../../../assets/images/check.svg");
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;
    }
    outline: none;
    box-shadow: 0 0 0 2px rgba($dark-grey-1, 0) inset;
    &:focus + .box{
      box-shadow: 0 0 0 2px rgba($dark-grey-1, 1) inset;
    }
  }
}

.input {
  position: relative;
  height: 44px;
  padding: 14px 18px;
  font-size: 16px;
  line-height: 16px;
  background: $white;
  border: 1px solid $light-grey-2;
  border-radius: $ui-border-radius;
  width: 100%;
  -webkit-box-shadow: inset 0 0 0 50px $white;
  color: $dark-grey-2;
  transition: $ui-transition;
  @include form-focus;
  &:disabled {
    background-color: $light-grey-1;
  }
  &::-webkit-input-placeholder {
    color: $light-grey-2;
  }
  &::-moz-placeholder {
    color: $light-grey-2;
  }
  &::-ms-placeholder {
    color: $light-grey-2;
  }
  &::placeholder {
    color: $light-grey-2;
  }
}

.textarea {
  display: block;
  resize: none;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: $dark-grey-2;
  padding: 14px 18px;
  -webkit-box-shadow: inset 0 0 0 50px $white;
  transition: $ui-transition;
  border: 1px solid $light-grey-2;
  border-radius: $ui-border-radius;
  @include form-focus;
  &:disabled {
    background-color: $light-grey-1;
  }
  &::-webkit-input-placeholder {
    color: $light-grey-2;
  }
  &::-moz-placeholder {
    color: $light-grey-2;
  }
  &::-ms-placeholder {
    color: $light-grey-2;
  }
  &::placeholder {
    color: $light-grey-2;
  }
}

.inputFile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba($dark-grey-1, 0) inset;
  transition: $ui-transition;
  border: 2px dotted $clr-primary;
  @include ui-button-colors($clr-text, $clr-secondary, $clr-secondary-active, $clr-primary);
  cursor: pointer;
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px rgba($dark-grey-1, 1) inset;
  }
  &.dragActive {
    background-color: $clr-secondary-hover;
  }
}

.inputRange {
  width: 100%;
}