@import '../../../variables.module';

.sidebarFriends {
  padding: 20px;
}

.Title {
  font-size: 16px;
  color: $dark-grey-2;
  margin-bottom: 10px;
}

.Avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 10px;
}

.Link {
  a {
    color: $accent;
    font-size: 16px;
  }
}

