@import "../../../../assets/styles/variables";

.tab {
  flex-grow: 1;
  text-align: center;
  a {
    cursor: pointer;
  }
  & + & {
    border-left: 1px solid $light-grey-2;
  }
  .active {
    color: $text-color-dark;
    border-bottom: none;
    cursor: auto;
  }
}

