@import "../../../../variables.module";

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.avatar {
  margin-top: -60px;
}

.profileHeaderInfo {
  margin-left: 24px;
  max-width: 345px;
  width: 100%;
}

.name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.status {
  position: relative;
}

.statusText {
  font-size: 14px;
  color: $mid-grey;
}

.editStatus {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.editProfile {
  margin-left: auto;
}