.userItem {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  & + & {
    border-top: 1px solid $light-grey-2;
  }
}

.info {
  margin-left: 30px;
}

.avatar {

}

.userName {
  font-size: 18px;
  color: $accent;
  margin-bottom: 5px;
}

.mutualFriends {
  color: $accent;
}

.controls {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 10px;
}