@import "../../../assets/styles/variables";

.tabs {
  display: flex;
  justify-content: space-between;
  a {
    font-size: 18px;
    color: $accent;
    padding: 20px;
    display: block;
    border-bottom: 1px solid $app-border-color;
    outline: none;
    &:hover {
      text-decoration: none;
    }
  }
}