.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  .item:last-child {
    margin-bottom: 0 !important;
  }
}

.item {
  display: flex;
}

.space {
  margin: auto;
}

