@import "../../assets/styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-top: 30px;
}

.wrapper {

}

.info {
  margin-left: 30px;
}

.userName {
  font-size: 18px;
  color: $accent;
}

.date {
  color: $mid-grey-1;
}

.menu {
  align-self: flex-start;
  margin-left: auto;
}

.content {

}

.text {
  margin: 20px 0;
  padding: 0 30px;
  font-size: 18px;
  line-height: 32px;
}

.controls {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $light-grey-2;
}

.controlsItem {
  padding: 5px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  & + & {
    border-left: 1px solid $light-grey-2;
  }
}

.comments {
  border-top: 1px solid $light-grey-2;
  max-height: 0px;
  transition: .7s ease;
  &.active {
    max-height: 500px;
  }
}

.comment {
  display: flex;
  padding: 15px 30px;
  align-items: center;
  & + & {
    border-top: 1px solid $light-grey-2;
  }
}

.commentInput {
  padding: 15px 30px;
  border-bottom: 1px solid $light-grey-2;
}

.commentAvatar {
  margin-right: 30px;
}

.commentContent {
}

.commentText {
  margin-bottom: 2px;
}

.commentAuthor {
  color: $accent;
  margin-right: 8px;
}

.commentDate {
  font-size: 12px;
  color: $mid-grey-1;
}

.commentControls {
  margin-left: auto;
}

.commentsShowMore {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-top: 1px solid $light-grey-2;
}