.header {
  display: flex;
  align-items: center;
  //margin-bottom: 10px;
}

.title {
  font-size: 16px;
}

.button {
  margin-left: auto;
}

.content {
  max-width: $modal-content-width;
  max-height: $modal-content-height;
  display: flex;
  justify-content: center;
}