.header {
  display: flex;
  align-items: center;
}

.title {
  font-size: 16px;
}

.button {
  margin-left: auto;
}

.content {
  max-width: $modal-content-width;
  max-height: $modal-content-height;
  @include mq('tablet') {
    max-width: $modal-content-tablet-width;
    max-height: $modal-content-tablet-height;
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    width: 100%;
  }
}