.coverImage {
  position: relative;
  padding: 15px 18px;
  min-height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.image {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}