@import '../../../assets/styles/variables';

.IconWithCounter {
  position: relative;
  margin: 0 4px;
  width: 32px;
  height: 30px;
}

.icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: $success;
  color: $dark-grey-1;
  font-size: 9px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  bottom: 0px;
  right: 0;
}