@import '../../../assets/styles/variables';

.avatar {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.editable {
    &:hover {

    }
    .editButton {
      &:hover {
        opacity: 1;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .15s;
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 118px;
      height: 118px;
      color: red;
      border: none;
      border-radius: 50%;
      box-shadow: none;
      background-color: rgba($black, .6);
      z-index: 1;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  &.xs {
    width: 32px;
    .onLineIndicator {
      bottom: -1px;
      right: -1px;
      width: 10px;
      height: 10px;
      border-width: 2px;
    }
  }

  &.sm {
    width: 50px;
    .onLineIndicator {
      bottom: -1px;
      right: 0;
      width: 14px;
      height: 14px;
    }
  }

  &.md {
    width: 76px;
    .onLineIndicator {
      bottom: 3px;
      right: 1px;
      width: 16px;
      height: 16px;
    }
  }

  &.lg {
    width: 128px;
    .onLineIndicator {
      bottom: 10px;
      right: 10px;
      width: 18px;
      height: 18px;
    }
    .image {
      img {
        border: 5px solid white;
      }
    }
  }

  .image {
    position: relative;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.onLineIndicator {
  position: absolute;
  border-radius: 50%;
  background-color: $success;
  border: 3px solid white;
  z-index: 3;
}

.name {
  //color: $dark-grey-2;
  text-align: center;
  font-size: 12px;
  letter-spacing: .5px;
  margin-top: 2px;
}