@import '../../assets/styles/variables';

.header {

}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  max-width: 432px;
  width: 100%;
  margin-left: auto;
}

.userControl {

}

.notificationArea {
  display: flex;
  align-items: center;
}