@import "../../../../../variables";

.profileInfo {
  display: flex;
  justify-content: flex-start;
  padding: 0 30px;
  margin-bottom: 20px;
}

.profileInfoColumn {
  position: relative;
  padding: 0 20px;
  width: 50%;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }

  & + & {
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 88px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $light-grey-2;
    }
  }
}