.layout {
  padding-top: $appbar-height;
  @include mq('tablet') {
    padding-bottom: $bottom-navigation-height;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  img {
    object-fit: contain;
  }
}

.container {
  max-width: $container-width;
  padding: 0 $container-padding;
  margin: 0 auto;
}

.appBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  height: $appbar-height;
  background-color: $app-bar-color;
  color: $white;
  box-shadow: $bar-shadow;
  width: 100vw;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content {
  flex-grow: 1;
  max-width: $content-max-width;
}

.sidebar {
  max-width: $sidebar-width;
  width: 100%;
  margin-right: $components-gap;
}
