@import "../../assets/styles/variables";

.layout {
  padding-top: $appbar-height;
  background-color: transparent;
}

.container {
  max-width: $container-width;
  padding: 0 $container-padding;
  margin: 0 auto;
}

.appBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  height: $appbar-height;
  background-color: $dark-grey-1;
  color: $white;
  box-shadow: $bar-shadow;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content {
  flex-grow: 1;
}

.sidebar {
  width: $sidebar-width;
  margin-right: $components-gap;
}