@import "../variables";

.app {

}

.appBar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $dark-grey;
  color: $white;
  box-shadow: $bar-shadow;
}

.main {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content {
  max-width: 1007px;
  width: 100%;
  flex-grow: 1;
}