@import "../../../../variables";

.profileInfoItem {
  display: flex;

  &.vertical {
    flex-direction: column;
  }
  & + & {
    margin-top: 12px;
  }
}

.itemTitle {
  white-space: nowrap;
  color: $mid-grey;
  min-width: 80px;
}

.itemValue {
  white-space: normal;
  width: 100%;
}