@import "../../../../assets/styles/variables";

.wrapper {
  margin-top: 15px;
  display: flex;
  align-items: center;
  height: 20px;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.value {
  white-space: normal;
  line-height: 20px;
  width: 100%;
}