.button {
  position: relative;

  &.sm {
    font-size: $btn-sm;
  }
  &.md {
    font-size: $btn-md;
  }
  &.lg {
    font-size: $btn-lg;
  }
  &.xl {
    font-size: $btn-xl;
  }

  &.spinner:disabled {
    opacity: 1;
  }

  &.primary {
    @include button-colors($text-color-light, $primary-background-color);
  }
  &.secondary {
    @include button-colors($text-color-dark, $secondary-background-color);
  }
  &.neutral {
    @include button-colors($text-color-dark, $neutral-background-color);
  }
  &.text {
    @include button-colors($text-color-dark, transparent);
  }
  &.link {
    @include button-colors($text-color-link, transparent);
  }
  &.cancel {
    @include button-colors($text-color-light, $cancel-background-color);
  }
  &:disabled, &:disabled:hover, &:disabled:active {
    cursor: auto;
    opacity: 0.3;
  }

  border-radius: $ui-border-radius;
  transition: $ui-transition;

}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  padding: .5em;
  &.spinner {
    color: transparent;
  }
}

.contentText {
  line-height: 1em;
  letter-spacing: .05em;
  text-transform: capitalize;
}

.contentIcon {
  display: flex;
  height: 1em;
  width: 1em;
  align-items: center;
}

.contentText + .contentIcon,
.contentIcon + .contentText {
  margin-left: .5em;
}

.buttonSpinner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  left: -20px;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  background-color: $success;
  color: $text-color-dark;
  border-radius: 11px;
  z-index: 5;
}
