.button {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
  border-radius: $ui-border-radius;
  cursor: pointer;
  transition: $ui-transition;
  font-weight: 400;
  letter-spacing: 1px;
  @include form-focus;
  &.spinner {
    box-shadow: none;
    &:disabled {
      opacity: 1;
    }
  }
  &.primary {
    @include ui-button-colors($clr-primary, $clr-primary-hover, $clr-primary-active, $clr-font-light);
  }
  &.secondary {
    @include ui-button-colors($clr-secondary, $clr-secondary-hover, $clr-secondary-active, $clr-font-dark);
  }
  &.neutral {
    @include ui-button-colors($clr-neutral, $clr-neutral-hover, $clr-neutral-active, $clr-font-dark);
  }
  &.text {
    @include ui-button-colors($clr-text, $clr-text-hover, $clr-text-active, $clr-font-dark);
  }
  &.cancel {
    @include ui-button-colors($clr-cancel, $clr-cancel-hover, $clr-cancel-active, $clr-font-light);
  }

  &.small {
    font-size: 12px;
  }
  &.medium {
    font-size: 16px;
  }
  &.large {
    font-size: 20px;
  }

  &:disabled {
    opacity: 50%;
  }
  .buttonSpinner {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contentText {
    padding: .5em .75em;
    line-height: 1em;
  }
  .contentIcon {
    display: flex;
    align-items: center;
    padding: .5em;
    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
    &:first-child:last-child {
      margin: 0;
    }
  }
}

//.button, .input, .formItem {
//  & + & {
//    margin-left: 10px;
//  }
//}