

.messageOther, .messageSelf {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid $app-border-color;
  white-space: pre-line;

  & + & {
    margin-bottom: 10px;
  }

  .messageAvatar {
    margin-right: 10px;
  }

  .messageAuthorName {
    font-size: 12px;
    font-weight: 700;
  }

  .messageText {

  }

  &.self {

  }
}

.messageOther {
  border-radius: 5px 5px 0 5px;
}

.messageSelf {
  border-radius: 5px 5px 5px 0;
}